@model EventEase.Models.Venue

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Venue Details";
}

<h2>Venue Details</h2>
<hr />
<dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(m => m.VenueName)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(m => m.VenueName)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Location)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(m => m.Location)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Capacity)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(m => m.Capacity)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(m => m.ImageUrl)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(m => m.ImageUrl)</dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.VenueId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

